@use "colors" as *;
.anchor {
  color: $anchor-color;
  opacity: 0;
  text-decoration: none;
  font-weight: 400;
}

:hover > .anchor,
:target > .anchor,
.anchor:focus {
  opacity: 1;
}

.anchor::after {
  content: "#";
}
