@use "colors" as *;
@use "mixins" as *;

.body {
  width: 100%;
  max-width: 60vw;
}

article {
  overflow-x: hidden;
  margin: 0 auto;
  min-height: 100vh;

}

.email-me {
  a {
    display: inline-block;
  }
}

.link-text {
    border-bottom: 0.125em solid $primary-color;
    position: relative;
}

h1 {
  font-size: 3em;
  margin: 4rem 0 1rem 0;
}

.article-header {
    font: 2.5em trajan-pro-1;
    @include color-on-hover;

    // for svg-header
    a svg {
      height: 1em;
    }
}
