@use "colors" as *;
@use "mixins" as *;

.article-list {
  list-style: none;
}

.article {
  min-height: 100vh;
  background: $background-color;
  border-radius: 0.2em;
  box-shadow: 0 1px 2px 0 #000000, 0 2px 5px 0 #000000;
  border: 2px solid $primary-color;
  margin-top: 1.5em;
  margin-bottom: 1.5em; 
  padding: 0 0.5em 0 0.5em;
  &--preview {
    min-height: auto;
  }
}

.email-me {
  a {
    display: inline-block;
  }
}

.link-text, .email-link {
    border-bottom: 0.125em solid $primary-color;
    position: relative;
}

.article-header {
    font: 2.5em trajan-pro-1;
    @include color-on-hover;

    &:target {
      color: $primary-color
    }

    // for svg-header
    a svg {
      height: 1em;
    }
}
