@use "colors" as *;
@use "mixins" as *;

.article-list {
  list-style: none;
}

.article {
  min-height: 100vh; background: $background-color;
  border-radius: 0.2em;
  border: 2px solid $primary-color;
  margin-top: 1.5em;
  margin-bottom: 1.5em; 
  padding: 0 0.5em 0 0.5em;
  &--preview {
    min-height: auto;
  }
}

.email-me {
  a {
    display: inline-block;
  }
}

.link-text, .email-link {
    border-bottom: 0.125em solid $primary-color;
    position: relative;
}

.article-header {
    font: 2.5em trajan-pro-1;
    @include color-on-hover;

    &:target {
      color: $primary-color
    }

    // for svg-header
    a svg {
      height: 1em;
    }
}


.post-header {
  font-weight: 400;
}

.summary p {
  margin-bottom: 1em;
}

.read-more {
  display: block;       /* makes it shrink to fit content */
  background: $primary-color;  /* your button color */
  text-align: center;          /* center text inside the button */
  margin: 0 auto;
}
