@use "colors" as *;
@use "fonts" as *;

html {
  scroll-behavior: smooth;
  font-family: Amethysta-Regular system-ui, sans-serif; 
  font-size: 1.25rem;
}

body {
  color: $font-color;
  line-height: 1.5;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  /* background-image: repeating-linear-gradient( */
  /*   -45deg, */
  /*   #080808, */
  /*   #080808 40px, */
  /*   #050505 40px, */
  /*   #050505 80px */
  /* ); */

  background: $primary-color;

  max-width: 38rem;
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    .body {
      max-width: 100%;
    }
  }
}

.site-container {
  padding: 2rem;
  background: $background-color;
}


p, ul {
  list-style-type: square;
}

ul, ol {
  margin-bottom: 1rem;
}

ol > li[id^="fn:"] {
  margin-left: 2rem;
}
