@use "colors" as *;

html {
  scroll-behavior: smooth;
  
}

body {
  color: $font-color;
  background: $background-color;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: system-ui, sans-serif; 

  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: repeating-linear-gradient(
    -45deg,
    #080808,
    #080808 40px,
    #050505 40px,
    #050505 80px
  );

  // maybe make a mobile module?
  @media screen and (max-width: 768px) {
    font-size: 16px;
    .body {
      max-width: revert;
    }
  }
}

p, ul {
  list-style-type: square;
}

ul, ol {
  margin-bottom: 1rem;
}

ol > li[id^="fn:"] {
  margin-left: 2rem;
}

main {
  padding: 1.5rem;
  max-width: 60ch;
}
