@use "colors" as *;

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

html {
  scroll-behavior: smooth;
}

body {
  color: $font-color;
  background: $background-color;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: monospace;

  min-height: 100vh;


  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: repeating-linear-gradient(
    45deg,
    #080808,        /* red */
    #080808 10px,
    #050505 10px,   /* green */
    #050505 20px
  );
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* body > * { */
/*   padding: 0 1rem; */
/* } */

p, ul {
  margin-bottom: 1rem;
  list-style-type: square;
  list-style-position: inside;
  }
@include headings {
    font: 32px/42px trajan-pro-1, trajan-pro-2;
    text-align: center;
    margin-bottom: 1.5rem;
}
