@use "colors" as *;

html {
  scroll-behavior: smooth;
  
}

body {
  color: $font-color;
  background: $background-color;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: monospace;

  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: repeating-linear-gradient(
    -45deg,
    #080808,
    #080808 40px,
    #050505 40px,
    #050505 80px
  );

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
  
}

p, ul {
  list-style-type: square;
}

p {
  margin-block-start: 1.2em;
}

ul, ol {
  margin-bottom: 1rem;
}

ol > li[id^="fn:"] {
  margin-left: 2rem;
}

#forseti-logo > svg {
  display: block;
  height: 2.5em;
}
