$font-color: white;
$primary-color: #cc6666;
$secondary-color: #212845;
$background-color: #1b1b23;
$anchor-color: #cc6666;
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     $font-color: white; */
/*     $primary-color: #cc6666; */
/*     $secondary-color: #212845; */
/*     $background-color: #1b1b23; */
/*     $anchor-color: #cc6666; */
/*   } */
/* } */
/**/
/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     $font-color: #333333; */
/*     $primary-color: #cc6666; */
/*     $secondary-color: #212845; */
/*     $background-color: #f4f4f9; */
/*     $anchor-color: #ebdbb2; */
/*   } */
/* } */

