@use "colors" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
  width: 100%;
  font-weight: bold;
}

.site-title {
  font-size: 1.125em;
}

.site-links {
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 2rem;
}
