@use "colors" as *;
.navbar {
  background-color: $secondary-color;
}

.navbar-menu {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  padding: 12px;
  list-style: none;
  align-items: baseline;
}

.navbar-title {
  font-size: 1.125rem;
  margin-right: auto;
}

.navbar-item {
  font-size: 0.875rem;
}

