@use "colors" as *;
.navbar {
  width: 100vw;
  background-color: $secondary-color;
}

.navbar-content {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  padding: 12px 0;
  list-style: none;
  align-items: baseline;
  max-width: 60rem;
}

.navbar-title {
  font-size: 1.125rem;
  margin-right: auto;
}

.navbar-item {
  font-size: 0.875rem;
}

