@use "colors" as *;

.navbar {
  font-size: 1.5rem;
}

.navbar-content {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  padding: 12px 0;
  list-style: none;
  align-items: baseline;
}

.navbar-title {
  font-size: 1.125em;
  margin-right: auto;
}

.navbar-item {
  font-size: 0.875rem;
}

