@media print {
  .site-header, footer, .post-footer {
    display: none;
  }

  article p a::after {
    content: " (" attr(href) ")"; /* Show URLs after links */
  }

  p:has(img) {
    break-inside: avoid;
  }

  body {
    max-width: 100%;
  }

  article {
    width: 100%;
    border: none !important;
  }
}
