@media print {
  .site-header, footer, .email-me {
    display: none;
  }

  .body {
    max-width: revert;
  }

  article p a::after {
    content: " (" attr(href) ")"; /* Show URLs after links */
  }

  p:has(img) {
    break-inside: avoid;
  }
}
