@use "colors";
.tags {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 7px;
}

.tags > .tag {
  background-color: $primary-color;
  border-radius: 2px;
}

.tag > a {
  color: $secondary-color;
  padding: 2px 5px 2px 5px;
}
