@use "colors";

.youtube-player {
  // same size as videos in a video-row with a gap
  width: calc(50% - 1rem);
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.video-row {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
	gap: 2rem;
}

.video-row > .youtube-player, .invidious {
  flex: 1 1 0;
}

.video-description {
  color: colors.$font-color;
  text-align:center;
}
