@use "colors";

.youtube-player, .invidious {
  margin-bottom: 1.5em;
	width: 50%; /* for non-flex layout */
  flex: 0 0 50%;
}

.video-row {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
	gap: 2rem;
}

.video-description {
  background: colors.$secondary-color;
}
