@use "youtube";
@use "tags";
@use "colors" as *;

:root {
  --font-code: monospace;
}

p {
  margin-bottom: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  color: $font-color;
  background: $background-color;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: monospace;
  min-height: 600;
  margin: 0 auto;
  background: 1b1b23;
  display: flex;
  flex-direction: column;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
}

/* NAVIGATION */
a.title {
  font-weight: bold;
  line-height: 1rem;
}

/* surrond footnote links with brackets */
a.footnote-ref::before {
  content: "[";
}

a.footnote-ref::after {
  content: "]";
}

.anchor {
  color: $anchor-color;
  opacity: 0;
  text-decoration: none;
  font-weight: 400;
}

:hover > .anchor,
:target > .anchor,
.anchor:focus {
  opacity: 1;
}

.anchor::after {
  content: "#";
}

/* ul { */
/*   padding-left: 1rem; */
/* } */

/* container for the content and the sidebar */
main {
  display: flex;
  margin: 0 auto;
  padding: 12px;
}

.column {
  padding: 12px;
  margin: 0;
}

.sidebar {
  flex: none;
    width: 20%;
}

.navbar-menu,
main {
  max-width: 1344px;
}

.post-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0;
}

.navbar {
  background-color: $secondary-color;
}

.navbar-menu {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  padding: 12px;
  list-style: none;
  align-items: baseline;
}

.navbar-title {
  font-size: 1.125rem;
  margin-right: auto;
}

.navbar-item {
  font-size: 0.875rem;
}

.blog-posts {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.blog-posts li {
  padding: 12px;
}

.blog-posts li:nth-child(even) {
  background-color: $secondary-color;
}

.avatar {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  width: 12rem;
  object-fit: cover;
  margin-right: 2rem;
}

.bio-container,
.avatar_container {
  align-self: center;
}

.hcard {
  display: flex;
  flex-direction: column;
}

article {
    width: 80%;
}

.sticky {
  position: sticky;
  top: 0;
}

.post-title {
  font-size: 4rem;
  line-height: 1;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  /* .hcard { */
  /*   flex-direction: column; */
  /* } */
  main {
    flex-direction: column;
  }
}

article pre {
  overflow-x: auto;
  white-space: pre;
}

blockquote {
  background: primary-color;
  margin: auto;
  padding: 5px 25px;
}
