:root {
  --font-code: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: white;
    --primary-color: #cc6666;
    --secondary-color: #212845;
    --background-color: #1b1b23;
    --anchor-color: #cc6666;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: #333333;
    --primary-color: #cc6666;
    --secondary-color: #212845;
    --background-color: #f4f4f9;
    --anchor-color: #ebdbb2;
  }
}

body {
  color: var(--font-color);
  background: var(--background-color);
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: monospace;
  min-height: 600;
  margin: 0 auto;
  background: 1b1b23;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

/* NAVIGATION */
a.title {
  font-weight: bold;
  line-height: 1rem;
}

/* surrond footnote links with brackets */
a.footnote-ref::before {
  content: "[";
}

a.footnote-ref::after {
  content: "]";
}

.anchor {
  color: var(--anchor-color);
  opacity: 0;
  text-decoration: none;
  font-weight: 400;
}

:hover > .anchor,
:target > .anchor,
.anchor:focus {
  opacity: 1;
}

.anchor::after {
  content: "#";
}

/* ul { */
/*   padding-left: 1rem; */
/* } */

/* container for the content and the sidebar */
main {
  display: flex;
  margin: 0 auto;
  padding: 12px;
}

.column {
  padding: 12px;
  margin: 0;
}

.sidebar {
  flex: none;
}

/* Top Navigation */
.top-menu {
  background-color: var(--secondary-color);
  padding: 20px;
}

.top-navbar {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .menu,
  main {
    max-width: 1344px;
  }
}

.post-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0;
}

.navbar {
  background-color: var(--secondary-color);
}

.menu {
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  gap: 12px;
  list-style: none;
}

.navbar-item {
  line-height: 3;
}

.blog-posts {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.blog-posts li {
  padding: 12px;
}

.blog-posts li:nth-child(even) {
  background-color: var(--secondary-color);
}

.avatar {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  width: 12rem;
  object-fit: cover;
  margin-right: 2rem;
}

.bio-container,
.avatar_container {
  align-self: center;
}

.hcard {
  display: flex;
  flex-direction: column;
}

/* Mobile responsiveness */
@media print, screen and (min-width: 769px) {
  .hcard {
    flex-direction: row;
  }
  .column_container {
    display: flex;
  }
  .sidebar {
    flex: none;
    width: 20%;
  }
  article {
    width: 80%;
  }
  .post-title {
    font-size: 4rem;
    line-height: 1;
  }

  .sticky {
    position: sticky;
    top: 0;
  }
}

article pre {
  overflow-x: auto;
  white-space: pre;
}

.header-container {
  width: 100%;
}

.tags {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 7px;
}

.tags > .tag {
  background-color: var(--primary-color);
  border-radius: 2px;
}

.tag > a {
  color: var(--secondary-color);
  padding: 2px 5px 2px 5px;
}

blockquote {
  background: var(--primary-color);
  margin: auto;
  padding: 5px 25px;
}
